<main class="row no-gutters">
  <div class="col-12 bg-primary">
    <h1 class=" p-2">
      <a class="text-white text-decoration-none" routerLink="/">Pangobook</a>
    </h1>
  </div>

  <div class="col">
    <h2 class="my-3">Connexion</h2>
    <form class="border border-secondary rounded p-3 bg-white" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" formControlName="email">
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Mot de passe</label>
        <input class="form-control" type="password" id="password" name="password" formControlName="password">
      </div>
      <button class="btn btn-success" [disabled]="form.invalid">Se connecter</button>
    </form>
  </div>

  <app-footer></app-footer>
</main>
