<main class="row no-gutters">
  <div class="col-12 bg-primary">
    <h1 class="p-2">
      <a class="text-white text-decoration-none" routerLink="/">Pangobook</a>
    </h1>
  </div>

  <div class="col">
    <h2 class="my-3">Inscription</h2>
    <form class="border border-secondary rounded p-3" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" id="email" name="email" formControlName="email">
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Mot de passe</label>
        <input class="form-control" type="password" id="password" name="password" formControlName="password">
      </div>
<!--      <div class="mb-3">-->
<!--        <label class="form-label" for="pangolinName">Nom d'utilisateur pangolin</label>-->
<!--        <input class="form-control" #pangolinName type="text" id="pangolinName" name="pangolinName"
formControlName="pangolinName">-->
<!--      </div>-->
      <button class="btn btn-success" [disabled]="form.invalid">S'inscrire</button>
    </form>
  </div>

  <app-footer></app-footer>
</main>
