<header class="row no-gutters">
  <div class="col-12 bg-primary">
    <h1 class="p-2">
      <a class="text-white text-decoration-none" routerLink="/">Pangobook</a>
    </h1>
  </div>

  <div class="col bg-white">
    <nav class="my-3">
      <ul class="d-flex justify-content-center list-unstyled">
        <li *ngFor="let route of routes">
          <a class="p-2 m-2" [routerLink]="route.path">{{route.label}}</a>
        </li>
      </ul>
    </nav>

    <div class="d-flex justify-content-end my-3 mx-3">
      <button class="btn btn-primary mx-2" (click)="onLoginClick()" *ngIf="!isAuthenticated">Se connecter</button>
      <button class="btn btn-success mx-2" (click)="onSignupClick()" *ngIf="!isAuthenticated">S'inscrire</button>
      <a class="my-auto mx-4" routerLink="/profil" *ngIf="isAuthenticated">Modifier mon profil</a>
      <button class="btn btn-primary" (click)="onLogoutClick()" *ngIf="isAuthenticated">Se déconnecter</button>
    </div>
  </div>
</header>
